extends layout

block content
  h1 #{title}

  form(method='POST' action='/topics')
    div.form-group
      label(for='topic') Topic: 
      if topics
        select#topic.select.form-control.input-lg(name='topic')
          for topic in topics
            option(value= topic._id) #{topic.name}
    
      label(for='key') Key:
      
      input#message_key.input.form-control.input-lg(name="key", type='text', 
      	placeholder='Input key...' key='key' value=(undefined===key ? '' : key.name), required='true')
      
      label(for='message') Message:
      
      input#message_content.input.form-control.input-lg(name="message", type='text', 
      	placeholder='Input message...' message='message' value=(undefined===message ? '' : message.name), required='true')
      
      button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error
        
  if topics 
    ul
      for topic in topics
        li!= topic